[submodule "Plugins/OBJMeshLoader"]
	path = Plugins/OBJMeshLoader
	url = https://github.com/AtlantisCorp/XGL-OBJMeshLoader.git
[submodule "Plugins/XGLMetalRenderer"]
	path = Plugins/XGLMetalRenderer
	url = https://github.com/AtlantisCorp/XGL-MetalRenderer.git
